<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     autoReload="true"
       internalLogLevel="Info"
       internalLogFile="internal-nlog.txt">
  <!--define various log targets-->
  <targets>
    <!--write logs to file-->
    <!--<target xsi:type="File" name="allfile" fileName="logs/sys/${shortdate}.log"
             layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />-->
    <target xsi:type="File" name="info-web" fileName="logs/info/${shortdate}.log"
             layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <target xsi:type="Null" name="blackhole" />

    <target xsi:type="File" name="error-web" fileName="logs/error/${shortdate}.log"
         layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
    <!--从高到低分为（如配置为info，使用logger.LogDebug和logger.LogTrace记录的日志将不会显示）:
    Fatal
    Error
    Warn
    Info
    Debug
    Trace-->
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="info-web" />
    <logger name="*" minlevel="Warn" maxlevel="Error" writeTo="error-web" />
  </rules>
</nlog>