@{
    ViewData["Title"] = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-col-md12">

    <div class="layui-form layui-form-pane" lay-filter="formInfo">
        <div class="layui-form-item">
            <label class="layui-form-label">旧密码</label>
            <div class="layui-input-inline">
                <input type="text" name="userOldPwd" lay-verify="required" lay-reqText="旧密码不可为空" value="" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">旧密码不可为空</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="text" name="userNewPwd" lay-verify="required" lay-reqText="新密码不可为空" value="" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">新密码不可为空</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认新密码</label>
            <div class="layui-input-inline">
                <input type="text" name="userNewPwdAgain" lay-verify="required" lay-reqText="请再次确认新密码" value="" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请确认新密码</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="updatePass">确认修改</button>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use('form', function () {
        var form = layui.form
            , $ = layui.jquery;
        form.on('submit(updatePass)', function (data) {
            $.post('/Home/UpdatePass', data.field, function (res) {
                if (res.succeed) {
                    layer.confirm('修改密码成功,是否关闭当前窗口', { icon: 1, btn: ['关闭', '取消'] }, function () {
                        xadmin.close()
                    });
                }
                else {
                    layer.msg(res.message, { icon: 2, time: 1000 });
                }
            })
        })
    })
</script>